@import '../Variable';


////BASE////

html, body {
  height: 100%;

}

*, *:before, *:after {
  box-sizing: inherit;
}


.wrapper {
  @media screen and (max-width: 380px) {
    padding: 5px 10px;
  }
  position: relative;
  //position: absolute;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
}

////BASE-CLOSE////
//////
/////
////LOGIN-REGISTER BOX////<<<<<
///BOX///
.loginRegisterBox{
  width: 100%;
  //margin-top: 40px;
  box-shadow: $shadow_two;
  color: $color_uni_eight;
  display:flex;
  flex-direction: column;
  gap: 15px;
  //margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 440px;
  background: rgba(250, 249, 249,0.91);
  padding: 15px 30px 10px 30px;
  border-radius: 10px;
  button{
    cursor: pointer;
  }
  a{
    cursor: pointer;
  }
}

///BOX-CLOSE///
//////
/////
//BOX HEAD//
.loginRegisterHead{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  .loginRegisterLogo{
  }
  .loginRegisterHeadText{
    span{
      font-size: 29px;
    }
  }
}

//BOX-HEAD-ClOSE//
//////
/////
//BOX-MEDIA-LOGIN-BUTTON//
.loginRegisterButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 310px;
}
.loginButton {
  button {
    @include ButtonMd($color_uni_two, 6px, 7, 14);
    gap: 10px;
    color: white;
    padding: 11px;
    font-size: 15px;
    width: 100%;
    height: 42px;
    box-shadow: $shadow_two;
  }
}


//BOX-MEDIA-LOGIN-BUTTON-CLOSE//
//////
/////
//BOX-HR//
.hrComment{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  .hrLine{
    width: 100%;
    border: 0;
    background: $color_uni_seven;
    height: .5px;
  }
  span{
    color: $color_uni_seven;
    font-size: 14px;
    white-space:nowrap;
  }
}
//BOX-HR-CLOSE//
//////
/////
//BOX-FORM//
.loginRegisterForm{
  width: 100%;
  form{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.loginRegisterInputBox{
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
  gap: 5px;
   label{
     color: $color_uni_six;
     font-size: 15px;
     span{
       color: $color_uni_nine;
     }
  }
}

.loginRegisterText{
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  width: 100%;
  box-shadow: $shadow_one;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  input{
    height: 42px;
    width: 100%;
    border-radius: 6px ;
    font-size: 16px;
    font-family: $font_uni_one;
    background-color: white;
    border: 1px solid lightgrey;
    padding-left: 10px;
    transition: 0.5s;
    &:focus {
      border-color: $color_uni_eight;
    }
    &::-ms-reveal, &::-ms-clear{
      display: none;
    }
  }
  button {
    @include ButtonMd($color_uni_three, 0 6px 6px 0, 5, 10);
    color: white;
    padding: 11px;
    font-size: 14px;
    width: 20%;
    height: 42px;
  }
}

.loginRegisterError{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  margin-top: -1px;
  margin-left: 3px;
  padding-top: 3px;
  margin-bottom: -2px;
  font-size: 13px;
  color: red;

}

.passwordText{
  .loginRegisterText{
    input{
      width: 80%;
      border-radius: 6px 0 0 6px ;
    }
  }
}



.forgotPassword {
  margin-top: -5px;
    a {
      font-size: 13.5px;
      text-decoration: none;
      color: $color_uni_one;
      &:hover{
        text-decoration: underline;
      }
    }
}


.registerLoginButton{
  width: 100%;
  display: flex;
  justify-content: center;
  button{
    @include ButtonMd($color_uni_one, 6px, 5, 10);
    color: white;
    padding: 11px;
    font-size: 16px;
    width: 70%;
    box-shadow: $shadow_two;
  }
}

//BOX-FORM-CLOSE//
//////
/////
//BOX-FOOTER//
.RegisterLoginFooter{
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    text-align: center;
    margin-top: -5px;
    a{
      color: $color_uni_four;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  #footer-text-two{
    font-size: 12.3px;
    color: $color_uni_seven;
  }
}


.cloneBox{
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: $color_uni_one;

}

.cloneBoxInfo{
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 8px;
  padding: 10px 20px;
  background: $color_uni_ten;
  span{
    font-size: 13px;
  }
}



//BOX-FOOTER-CLOSE//
////LOGIN-REGISTER BOX-CLOSE////>>>>>
