@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap");
input, textarea, select {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

html, body {
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  position: relative;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%; }
  @media screen and (max-width: 380px) {
    .wrapper {
      padding: 5px 10px; } }

.loginRegisterBox {
  width: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  color: #212529;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 440px;
  background: rgba(250, 249, 249, 0.91);
  padding: 15px 30px 10px 30px;
  border-radius: 8px; }
  .loginRegisterBox button {
    cursor: pointer; }
  .loginRegisterBox a {
    cursor: pointer; }

.loginRegisterHead {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px; }
  .loginRegisterHead .loginRegisterHeadText span {
    font-size: 29px; }

.loginRegisterButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 310px; }

.loginButton button {
  height: 100%;
  max-height: 45px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background: #354f52;
  border: none;
  outline: none;
  font-family: "Patua One", serif;
  border-radius: 4px;
  transition-duration: 0.30s;
  gap: 10px;
  color: white;
  padding: 11px;
  font-size: 15px;
  width: 100%;
  height: 42px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
  .loginButton button:focus {
    outline: none; }
  .loginButton button:hover {
    cursor: pointer;
    background: #273a3c;
    -webkit-transition-duration: 0.30s;
    /* Safari */
    transition-duration: 0.30s; }
  .loginButton button:active {
    background: #192527; }

.hrComment {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px; }
  .hrComment .hrLine {
    width: 100%;
    border: 0;
    background: #adb5bd;
    height: .5px; }
  .hrComment span {
    color: #adb5bd;
    font-size: 14px;
    white-space: nowrap; }

.loginRegisterForm {
  width: 100%; }
  .loginRegisterForm form {
    display: flex;
    flex-direction: column;
    gap: 15px; }

.loginRegisterInputBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px; }
  .loginRegisterInputBox label {
    color: #6c757d;
    font-size: 15px; }
    .loginRegisterInputBox label span {
      color: #9b2226; }

.loginRegisterText {
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  flex-direction: row; }
  .loginRegisterText input:focus, .loginRegisterText textarea:focus, .loginRegisterText select:focus {
    outline: none; }
  .loginRegisterText input {
    height: 42px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Patua One", serif;
    background-color: white;
    border: 1px solid lightgrey;
    padding-left: 10px;
    transition: 0.5s; }
    .loginRegisterText input:focus {
      border-color: #212529; }
    .loginRegisterText input::-ms-reveal, .loginRegisterText input::-ms-clear {
      display: none; }
  .loginRegisterText button {
    height: 100%;
    max-height: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    background: #52796f;
    border: none;
    outline: none;
    font-family: "Patua One", serif;
    border-radius: 0 4px 4px 0;
    transition-duration: 0.30s;
    color: white;
    padding: 11px;
    font-size: 14px;
    width: 20%;
    height: 42px; }
    .loginRegisterText button:focus {
      outline: none; }
    .loginRegisterText button:hover {
      cursor: pointer;
      background: #486a61;
      -webkit-transition-duration: 0.30s;
      /* Safari */
      transition-duration: 0.30s; }
    .loginRegisterText button:active {
      background: #3d5b53; }

.loginRegisterError {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  margin-top: -1px;
  margin-left: 3px;
  padding-top: 3px;
  margin-bottom: -2px;
  font-size: 13px;
  color: red; }

.passwordText .loginRegisterText input {
  width: 80%;
  border-radius: 4px 0 0 4px; }

.forgotPassword {
  margin-top: -5px; }
  .forgotPassword a {
    font-size: 13.5px;
    text-decoration: none;
    color: #273A40; }
    .forgotPassword a:hover {
      text-decoration: underline; }

.registerLoginButton {
  width: 100%;
  display: flex;
  justify-content: center; }
  .registerLoginButton button {
    height: 100%;
    max-height: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    background: #273A40;
    border: none;
    outline: none;
    font-family: "Patua One", serif;
    border-radius: 4px;
    transition-duration: 0.30s;
    color: white;
    padding: 11px;
    font-size: 16px;
    width: 70%;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
    .registerLoginButton button:focus {
      outline: none; }
    .registerLoginButton button:hover {
      cursor: pointer;
      background: #1d2c30;
      -webkit-transition-duration: 0.30s;
      /* Safari */
      transition-duration: 0.30s; }
    .registerLoginButton button:active {
      background: #141d20; }

.RegisterLoginFooter {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .RegisterLoginFooter p {
    text-align: center;
    margin-top: -5px; }
    .RegisterLoginFooter p a {
      color: #84a98c;
      text-decoration: none; }
      .RegisterLoginFooter p a:hover {
        text-decoration: underline; }
  .RegisterLoginFooter #footer-text-two {
    font-size: 12.3px;
    color: #adb5bd; }

/*# sourceMappingURL=login_register.module.css.map */
