//// VARIABLES ////
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700&display=swap');

// FONTS
//// Website unique icons
$font_uni_one: "Patua One",serif;
$font_uni_two: 'Barlow', sans-serif;
$font_uni_three: "Rye", serif;
$font_uni_four: 'Amiri', serif;
$font_uni_five: "Merriweather", serif;
//$font_uni_six: "Vollkorn", serif;
$font_uni_six: "Lora", serif;
$font_uni_seven:   'Frank Ruhl Libre', serif;


//// WEBSITE UNIQUE COLORS
$color_uni_one: #273A40;
$color_uni_two: #354f52;
$color_uni_three: #52796f;
$color_uni_four: #84a98c;
$color_uni_five: #cad2c5;
$color_uni_six: #6c757d;
$color_uni_seven: #adb5bd;
$color_uni_eight: #212529;
$color_uni_nine: #9b2226;
//$color_uni_ten: #fefae0;
$color_uni_ten: #faedcd;
$color_uni_eleven: #002329;
$color_uni_twelve: #e9c46a;


///Mixin
//// news type background and font color
@mixin color_breaking_news{
  background: #BF1818;
  color: white;
}
@mixin color_fact_check{
  background: #4A8327;
  color: white;
}
@mixin color_live_updates{
  background: white;
  color: #FF0000;
}
@mixin color_opinion{
  background: #686868;
  color: white;
}
@mixin color_review{
  background: #F3E34E;
  color: black;
}
@mixin color_analysis{
  background: #04152F;
  color: white;
}
@mixin color_analysis{
  background: #EBEBEB;
  color: black;
}


////SHADOWS
$shadow_one: 0px 5px 10px rgba(0, 0, 0, 0.12);
$shadow_two: 0 1px 5px rgba(104, 104, 104, 0.8);
$shadow_three: 0px 7px 12px rgba(0, 0, 0, 0.11);
$shadow_four: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$shadow_five: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$shadow_six: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

////BOX RADIUS
$button_radius_uni_one: 4.5px;
$button_radius_uni_two: 3px;
$input_radius_uni_one: 3px;
$box_radius_uni_one: 5px;

////BUTTONS
//Header Buttons
$header_color_menu: white;

@mixin ButtonMd($color, $radius, $darken_hover, $darken_active, $align: center  ) {
  height: 100%;
  max-height: 45px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: $align ;
  background: $color;
  border: none;
  outline: none;
  font-family: $font_uni_one;
  border-radius: $radius;
  transition-duration: 0.30s;
  &:focus {
      outline: none;
  }
  &:hover {
    cursor: pointer;
    background: darken($color, $darken_hover);
    -webkit-transition-duration: 0.30s; /* Safari */
    transition-duration: 0.30s;
  }
  &:active {
    background: darken($color, $darken_active);
  }
}

////INPUT
//input:focus, textarea:focus, select:focus {
//  outline: none;
//  appearance: none;
//  -moz-appearance: none;
//  -webkit-appearance: none;
//}

input, textarea,select {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

}
//Header Input
$header_color_input: #001219;

@mixin InputMd($focus_color,$radius) {
  //height: 100%;
  width: 100%;
  //max-height: 35px;
  border: 1px solid lightgrey;
  outline: none;
  padding-left: 9px;
  border-radius: $radius;
  transition-duration: 0.30s;
  font-size: 15.5px;
  font-family: $font_uni_one;
    &:focus {
      border-color: $focus_color;
    }
    &::-ms-reveal, &::-ms-clear{
      display: none;
    }
}

//Basic Function


// Resize Page on Render or ..

$RenderResizeOne : 1000px;
$RenderResizeTwo: 530px;
$RenderResizeThree: 350px;
$RenderResizeFour: 790px;

// List Buttons
@mixin listButtonMd2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: 45px;
  padding: 3px 2px 3px 11px;
  align-items: center;
  border: none;
  border-radius: 2px;
  transition-duration: 0.15s;
  font-size: 16px;
  background-color: transparent;
  color: white;
  font-family: $font_uni_one;
  cursor: pointer;
  outline: none;
  &:hover {
    background: lighten($color_uni_two, 3) !important;
    -webkit-transition-duration: 0.15s; /* Safari */
    transition-duration: 0.15s;
  }
  &:active {
    background: lighten($color_uni_two, 10) !important;;
  }
}





