@import '../Variable';
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

////BASE////
html, body {
  height: 100%;
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.body_main_news {
  margin-top: 0;
  font-family: "Patua One", serif;
  font-size: 15px;
  color: $color_uni_eight;
}

.wrapper {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;

}


////////////////////////////////////////////////
////404 PAGE NOT FOUND/////////////////////////

.errorPage{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    width: 700px;
  }
  div{
    button{
      @include ButtonMd(transparent, 2.5px, 0,0);
      border: 1px solid $color_uni_one;
      padding: 15px 70px;
      font-size: 16px;
      box-shadow: $shadow_two;

      &:hover{
        background: $color_uni_one;
        color: white;

      }
    }
  }
}








////BASE-CLOSE////
//////
/////