@import '../Variable';

.Footer {
  bottom: 0;
  height: 20%;
  //min-height: 20px;
  padding: 1rem;
  //background-color: #263238;
  background-color: $color_uni_ten;
  text-align: center;
  color: black;
  border-radius: 4px;
  box-shadow: $shadow_three;
  margin-top: 20px;
}

.FooterSectionA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-left: -10px;
  ul {
    padding: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    h3{
      font-family: $font_uni_six;
    }
    li{
      margin-right: auto;
    }
  }
}

.FooterServices{

}

.FooterAbout{

}

.FooterCareers{

}


.FooterSectionB {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.FooterIcons{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  svg{
    cursor: pointer;
    :hover{
      fill: $color_uni_eleven;
    }
  }
}

.FooterLicence{


}