@import '../Variable';
//HEADER

.bodyHidden{
  @media screen and (max-width: 1630px){
      //overflow: hidden;
  }

}

.header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  position: relative;
}

//HEADER A LEFT
.headerA{
  margin-top: 10px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.headerATop {
  display: flex;
  flex-direction: row;
  //align-items: center;
  gap: 20px;
  position: absolute;
  @media screen and (max-width: $RenderResizeOne) {
    position: relative !important;
  }
}

.menuButton {
  button {
    @include ButtonMd(#F7F9F7, 50%, 5, 10);
    padding: 7.5px;
  }
  margin-top: 2px;
  margin-bottom: auto;
}

.HeaderSearch{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.HomeLogoImg{
  display: flex;
  position: relative;
  width: 100%;
  margin-top: -5px;
  justify-content: center;
  @media screen and (min-width: 991px) {
    margin-right: -125px;
  }

  div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #273A40;
    border-radius: 50%;
  }
}

.NavbarButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -25px;
  width: 100%;
  gap: 10px;
  padding: 2px;
  height: 70px;

  span {
    pointer-events: none;
  }

  svg {
    pointer-events: none;
  }

  a {
    text-decoration: none;
    width: 100%;
  }
}

.SearchInputButtonBox{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.BackToTop{
  position: relative;
  margin-left: auto;
  height: 60px;
  button {
    @include ButtonMd($color_uni_eight, 6px, 5, 10);
    color: white;
    flex-direction: row;
    white-space: nowrap;
    font-size: 16.5px;
    height: 35px;
    padding: 10px 28px;
    align-items: center;
    box-shadow: $shadow_two;
    gap: 7px;
    @media screen and (max-width: $RenderResizeTwo) {
      padding: 10px 15px;
      font-size: 15.7px;
    }
  }
}


.HeaderSearchButton{
  button{
    box-shadow: $shadow_one;
    @include ButtonMd($color_uni_one, 50%, 10, 15);
    border: 2px solid $color_uni_seven;
    height: 37px;
    padding: 7px;
  }
  margin-bottom: auto;
  margin-top: 1px;
}

.SearchInputButton{
  display: flex;
  flex-direction: row;
  height: 35px;
  gap: 0;
  //-webkit-transition-duration: 0.30s; /* Safari */
  //transition-duration: 0.30s;
  input{
    @include InputMd(none,(4px 0 0 4px));
    border-right: none !important;
    //max-width: 180px;
    width: 100%;
    height: 100% !important;
    transition-duration: 0.0s;
    margin-right: -5px;
    //border-color: red !important;
  }
  .ClearButton{
    @include ButtonMd(white, 0, 0, 0);
    max-height: 100%;
    color: black;
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    transition-duration: 0.0s;
    padding: 0;
    margin-right: -5px;
    span{
      display: flex;
      flex-direction: row;
      gap: 0.5px;
    }
  }
  .SearchButton{
    @include ButtonMd(white, (0 4px 4px 0 ), 0, 0);
    max-height: 100%;
    color: black;
    border: 1px solid lightgrey;
    border-left: none;
    padding-left: -5px;
    transition-duration: 0.0s;
    max-width: 40px;
    //border-color: red !important;
  }
}

.SearchBoxList{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  -webkit-transition-duration: 0.30s; /* Safari */
  transition-duration: 0.30s;
  overflow: hidden;
  a{
    text-decoration: none;
    width: 100%;
  }
  button{
    @include ButtonMd(white, 0, 5, 10, left);
    height: 38px;
    color: #073b4c;
    font-size: 15.5px;
    width: 100%;
    span{
      width: 60%;
      display: block;
      overflow: hidden;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  border-top: none;
  margin-top: -3px;
}



.headerABottom{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 55px;
  margin-left: 45px;
}

// HEADER B MIDDLE
.HeaderB {
  flex: 1;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $RenderResizeOne) {
    svg:nth-child(1) {
      display: none;
    }
  }

  @media screen and (min-width: 1001px) {
    svg:nth-child(2) {
      display: none;
    }
  }
}

// HEADER C RIGHT
.HeaderC{
  height: 100%;
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
}

.LoginInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 38px;
}

.SubscribeButton {
  button {
    @include ButtonMd(white, 6px, 5, 10);
    border: 1px solid black;
    color: $color_uni_eight;
    padding: 5px 13px;
    font-size: 13.3px;
    box-shadow: $shadow_one;
    white-space: nowrap;

    &:hover {
      background: darken($color_uni_one, 0);
      color: white;
    }
    &:active {
      background: darken($color_uni_one, 12);
      color: white;
    }
  }
}

.SubscribeButtonWin {
  button {
    @include ButtonMd(#e9c46a, 4px, 5, 10);
    padding: 5px 13px;
    font-size: 13.3px;
  }
}

@media screen and (max-width: 1150px) {
    /* mobile CSS: hide .desktop div */
  .SubscribeDatePrice{
    display: none;
  }
  .SubscribeButton{
    button {
      font-size: 14px;
      padding: 5px 25px;
    }
  }
}


.TrueLogin{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  a{
    text-decoration: none;
  }

  span{
    pointer-events: none;
  }

  svg{
    pointer-events: none;
  }
  img{
    pointer-events: none;
  }

  p{
    width: 143px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
  }
  button{
    display: flex;
    flex-direction: row;
    gap: 1.5px;
    align-items: center;
    @include ButtonMd(transparent, 0, 0, 0);
    //align-items: start;
    padding-bottom: 0;
    //justify-content: start;

    img{
      //border: 2px solid $color_uni_two;
      //width: 32px;
      border-radius: 50%;
      //filter: dropshadow(0px 0px 0px 2.5px $color_uni_five);
      box-shadow: 0 0 0 2.5px $color_uni_five;
      //border: 1.6px solid slategrey;
      //padding: .7px;
      margin-top: -8px;
      @media screen and (max-width: $RenderResizeOne) {
        margin-top: -11px;
        width: 35px;
      }
      @media screen and (max-width: $RenderResizeTwo) {
        width: 33px;
        margin-top: -7.4px;
      }
      @media screen and (max-width: 340px) {
        width: 29px;
        margin-top: -7.4px;
      }
    }
    svg{
      margin-top: -8px;
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}

.FalseLogin {
  margin-left: auto;

  button:nth-child(1) {
    @media screen and (max-width: $RenderResizeOne) {
      display: none;
    }
    @include ButtonMd($color_uni_one, 4px, 5, 15);
    padding: 5px 16px;
    color: white;
    box-shadow: $shadow_one;
  }

  button:nth-child(2) {
    background-color: red;
    @media screen and (min-width: $RenderResizeOne) {
      display: none;
    }
    @include ButtonMd(white, 0, 0, 0);
    padding: 5px 10px 12px 10px;
    color: black;
    @media screen and (max-width: $RenderResizeTwo) {
      margin-top: -3px;
    }
  }
}


.Weather{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  .WeatherBox {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

.WeatherValue {
  display: flex;
  flex-direction: row;
  gap: 2px;
  white-space: nowrap;
  font-size: 15.5px;
  margin-top: -4px;
}

.WeatherInfo{
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  white-space: nowrap;
}



.Hr {
  border: 0;
  height: 1px;
  //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color:  $color_uni_eleven;
  box-shadow: $shadow_five;
  @media screen and (max-width: 846px) {
    height: 1.5px;
  }
}


//PAGE SIZING

@media screen and (min-width: $RenderResizeOne) {
  /* mobile CSS: hide .desktop div */
  .MobileX{
    display: none
  }
}

@media screen and (max-width: $RenderResizeOne) {
  /* mobile CSS: hide .desktop div */
  .DesktopX{
    display: none
  }
}


.BodySideTwoX{
  @media screen and (max-width: $RenderResizeOne) {
      overflow: hidden;
  }
}


//-----------------------------------------------------------------
