@import '../Variable';

.SideMenu{
 position: fixed;
  z-index: 3;
  left: auto;
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  width: auto;
  .Overlay {
    @media screen and (max-width: 1697px) {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100000vh;
    }
  }
}

.SearchButton {
  display: none;
  @media screen and (max-width: $RenderResizeOne) {
    display: block;
  }
}

.SideMenuContent {
  margin-left: -240px;
  box-shadow: $shadow_two;
  display: flex;
  flex-direction: column;
  width: 240px;
  border-right-style: solid;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    button{
      @include listButtonMd2;
    }
  }

  hr{
    height: .5px;
    background-color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
  }
}

.Wrapper{
  background-color: $color_uni_eleven;
  padding: 5px 5px 5px 8px;
  overflow-y: scroll;
  height:calc(100vh - 43px);
  scrollbar-color: #98AFB3 $color_uni_eleven;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 18px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color_uni_eleven;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #98AFB3;
    }
  }
  svg {
    pointer-events: none;
  }
  a {
    text-decoration: none;
  }
  span{
      pointer-events: none;
  }
}


.SideMenuContentA{
  padding: 0 5px 5px 12.7px;
  border-bottom: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 42.5px;
  display: flex;
  flex-direction: row;
  gap: 2.3px;
  background-color: #101719;
  align-items: center;
  overflow: hidden;
}

.SideMenuContentAIcon {
  button {
    @include ButtonMd(transparent, 0, 0, 0);
    padding: 0;
  }
  img {
    margin-bottom: -9px;
    width: 30px;
  }
}

.SideMenuContentAImg{
  width: 100%;
  button{
    @include ButtonMd(transparent, 0, 0, 0);
    padding: 0;
    margin: 0;
  }
  img{
    height: 100%;
    margin-top: 5px;
    width: 204px;
  }

}

.SideMenuContentB{

  span{
    font-size: 13.5px;
    margin-left: -10px;
  }
}

.SpanTitle {
  width: 100%;
  height: 45px;
  gap: 11px;
  padding-left: 11px;
  background-color: #e9d8a6;
  font-size: 19px;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 2px;
  margin-bottom: 5px;
}

.DropdownArrow{
  margin-left: auto;
  margin-right: 10px;
  -webkit-transition-duration: 0.40s; /* Safari */
  transition-duration: 0.40s;
}

.CreateNew{
  @include ButtonMd($color_uni_twelve, 2px, 8, 12, left);
  color: $color_uni_eleven;
  margin-top: 5px;
  gap: 9px;
  padding: 10px;
}

.SideMenuContentD{
  li {
    button {
      font-size: 15px !important;
    }
  }
  img {
    width: 37px;
    border-radius: 50%;
    box-shadow: $shadow_two;
  }
}
SidebarTwoUserInfo
.SideMenuContentE{
  .SpanTitle{
    font-size: 16px;
  }
}


.ShowMore {
  button{
    color: #fefae0 !important;
  }
  svg {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transition-duration: 0.20s; /* Safari */
    transition-duration: 0.20s;
  }
}

.SidebarLibraryList {
  background-color: $color_uni_one;
  border-radius: 4px;
    animation: zoom-out .15s;
  @keyframes zoom-out {
    0% {
      transform: scale(0.7, 0.7);
    }
    100% {
      transform: scale(1, 1);
    }
  }



}


///---------------------------------------------------------------------------

.CreateLibrary{
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-left: -10px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.PopUpCreate {
  width: 100%;
  max-width: 420px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  box-shadow: $shadow_one;
  background-color: $color_uni_five;
  position: absolute;
  @media screen and (max-width: $RenderResizeOne) {
    max-width: 330px;
  }
  @media screen and (max-width: $RenderResizeThree) {
    max-width: 270px;
  }
}
.PopUpCreateTitle{
  margin-top: 15px;
  font-size: 24px;
}
.PopUpCreateForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.PopUpCreateInput{
  padding: 0 8px 0 8px;
  width: 100%;
  input{
    @include InputMd($header_color_input, 3px);
    //height: 100%;
    height: 45px;
    width: 100%;
    font-size: 17px;
  }
}

.PopUpCreateButtons {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  button:nth-child(1) {
    @include ButtonMd($color_uni_one, 3px, 10, 15);
    height: 42px;

  }
  button:nth-child(2) {
    @include ButtonMd($color_uni_nine, 3px, 10, 15);
    height: 42px;

  }
  button {
    font-size: 17.5px;
    color: white;
  }
}


//--------------------------------------------------------------------------------

.SidebarTwoSS{
  a{
    text-decoration: none;
  }
  span {
    pointer-events: none;
  }
  svg {
    pointer-events: none;
  }
  width: 100%;
  z-index: 1;
  position: absolute;

}


.SidebarTwo{
  display: flex;
  flex-direction: column;
  //height: 310px;
  height: auto;
  width: 275px;
  gap: 11px;
  background-color: $color_uni_one;
  color: white;
  //position: absolute;
  box-shadow: $shadow_four;
  overflow: hidden;
}

.SidebarTwoListButtonTwo {
  display: none !important;
}



.SidebarTwoUserInfoId {
  display: flex;
  flex-direction: column;
  gap: 5px;

  a{

    width: 100%;
  }
  button {
    @include ButtonMd($color_uni_twelve, 2px, 10, 15);

  }
}

.SidebarTwoListButton {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  padding:0;
 margin:0;
  button {
    @include listButtonMd2;
    border-radius: 0;
    border: 1px none white;
    padding: 0 20px;
    border-top-style: solid;
  }
}

.SidebarTwoListButtonSignIn {
  button {
    @include ButtonMd($color_uni_nine, 0, 10, 15);
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.30s;
    border: 1px none white;
    border-top-style: solid;
    &:hover{
      background-color: lighten($color_uni_nine, 5) !important;
      transition-duration: 0.30s;
    }
  }
}

.SidebarTwoUserInfo{
  padding: 10px 12px 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  span{
    display: block;
    width: 185px;
    @media screen and (max-width: $RenderResizeFour) {
      width: 230px;

    }
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16.5px;
    color: lightyellow;
  }
  img{
    width: 52px;
    border-radius: 50%;
    box-shadow: $shadow_two;
  }
}

@media screen and (min-width: $RenderResizeFour) {
  .SidebarTwoSS {
    position: relative;
    z-index: 2;
  }
  .SidebarTwo {
    right: 0;
    position: absolute;
    box-shadow: $shadow_two;
  }
}

@media screen and (max-width: $RenderResizeFour) {
  .SidebarTwoListButtonTwo {
    display: flex !important;
  }
  .SidebarTwoListButtonOne {
    display: none !important;
  }
  .SidebarTwoUserInfoId{
    a{
      display: none !important;
    }
  }
  .SidebarTwoClose{
    display: flex !important;
  }
  .SidebarTwoSS {
    position: fixed;
    z-index: 2;
    margin-left: -8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .SidebarTwo {
    //margin-top: -600px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    box-shadow: $shadow_four;
    gap: 13px;
  }
  .SidebarTwoListButton{
    button{
      font-size: 17.8px;
      height: 52px;
      svg{
        height: 25px;
        width: 25px;
      }
    }

  }
}

//@media screen and (max-width: $RenderResizeFour) and  (min-width: $RenderResizeFour)   {
//  display: none !important;
//}

.SidebarTwoClose{
  display: none;
  position: relative;
  margin-bottom: -35px;
  button{
    margin-left: auto;
    @include ButtonMd(transparent, 0, 0, 0);
  }
}


.LinkActive {
  button {
    span {
      color: red;
    }
  }
}


//--------------------------------------------------------------------------------//--------------------------------------------------------------------------------

.GetLibrary{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 17px;
  background: $color_uni_five;
  border-radius: 10px;
  padding: 12px 18px;
  width: auto;
  height: auto;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: $shadow_four;
  min-height: 135px;
  color: $color_uni_one;
}

.GetLibraryTitleClose {
  display: flex;
  flex-direction: row;
  align-items: center;
  span{
    font-family: $font_uni_one;
    //margin-top: 10px ;
    font-size: 27px;
  }
  button {
    margin-left: auto;
    //margin-bottom: 30px;
    @include ButtonMd($color_uni_five, 50%, 5, 10);
    svg {
      pointer-events: none;
    }
  }
}


.GetLibraryCreateBox{
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: $font_uni_one;
  label{
    font-size: 16.5px;
  }
}

.GetLibraryCreateInput{
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;

  input{
    @include InputMd('black', 6px);
    height: 37px;
    min-width: 240px;
    border: 2px solid $color_uni_one !important;
    box-shadow: $shadow_two;
  }
  button{
    @include ButtonMd($color_uni_eleven, 6px, 4, 10);
    height: 37px;
    padding: 10px 18px;
    font-size: 15px;
    color: white;
    box-shadow: $shadow_two;
  }
}

.GetLibraryFooter{
  display: flex;
  flex-direction: column;
  gap: 6px;
  label{
    font-size: 17px;
  }

}


.GetLibraryBoxOne, .GetLibraryBoxTwo{
  display: flex;
  flex-direction: column;
  border: 2px solid $color_uni_eleven ;
  border-radius: 6px;
  height: auto;
  button{
    @include ButtonMd($color_uni_five, 0, 5,10, left);
    color: $color_uni_one;
    gap: 10px;
    font-size: 16px;
    padding: 7px 10px;
  }
}




.GetLibraryBoxTwo {
  height: 165px !important;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: $shadow_two;

  &::-webkit-scrollbar {
    width: 18px;
  }

  &::-webkit-scrollbar:vertical {
    width: 10px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color:  $color_uni_five
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 6px;
    background-clip: content-box;
    background-color: $color_uni_three;
  }

  animation: zoom-out .15s;
  @keyframes zoom-out {
    0% {
      transform: scale(0.5, 0.5);
    }
    100% {
      transform: scale(1, 1);
    }


  }
}


.ExploreButton{
   @include ButtonMd(#0b525b, 2px, 5, 10, left);
  color: white;
  font-size: 16.5px;
  width: 100%;
  height: 43px;
  gap: 10px;
  padding: 7px;

}