@import '../Variable';


.TestReset{
  position: sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  background: red;

}

.HeaderSidebar{
  position: sticky;
  display: flex;
  flex-direction: row;
   margin-top: -8px;
  a{
    text-decoration: none;
  }
}

.Sidebar{
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: -10px;
  background-color: $color_uni_eleven;
}

.SidebarHomeCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  //margin-top: 15px;
  button:nth-child(1) {
    @include ButtonMd(#CAD2C5, 50%, 0, 0);
    max-height: 100px !important;
    max-width: 100px !important;
    padding: 20px;
    margin-top: 8px;
  }
  button:nth-child(2) {
    @include ButtonMd($color_uni_ten, 4px, 5, 10);
    color: black;
    gap: 5px;
    font-size: 16.5px;
    width: 95%;
    //height: 45px;
    padding: 8px;
    box-shadow: $shadow_one;
    margin-top: 8px;
  }
    button:nth-child(3) {
    @include ButtonMd(#f2cc8f, 4px, 5, 10);
    color: black;
    gap: 5px;
    font-size: 16.5px;
    width: 95%;
      padding: 8px;
    //height: 45px;
    box-shadow: $shadow_one;
  }
}




.SidebarListButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;

  button {
    @include ButtonMd($color_uni_five, 4px, 0, 0);
    width: 200px;
    font-size: 17px;
    padding: 15px;
    color: #343a40;
    //color: white;
    gap: 10px;
    box-shadow: $shadow_one;
    border-top: none;
    svg {
      margin-right: auto;
    }
    span {
      width: 60px;
      //margin-right: auto ;
      margin-right: 55px;
      padding-right: 60px;
    }
    &:hover {
      background-color: $color_uni_two;
      color: white;
    }
    &:active {
      background-color: darken($color_uni_two, 5);
      color: white;
    }
  }
}

.SidebarListColorClick {
    background-color: darken($color_uni_two, 5) !important;
    color: white !important;

}


.HeaderContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: -7px;

}

.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.HeaderOne{
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 15px;
  align-items: center ;
  //background: linear-gradient(200deg, #52796f calc(30% - 1px), #002329 70%);
  background:  #002329 ;
  color: white;
}

.HeaderTwo{
  display: flex;
  flex-direction: row;
  padding:  10px 0 10px 10px;
  border: none;
  //border-bottom: 2px solid #010e15;
  width: 100%;
  //max-width: 400px;
  height: 70px;
  .HeaderTwoFollowers{
    //max-width: 250px;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 10px 25px;
    background: #2f3e46;
    margin-left: auto;
    span{
      white-space: nowrap;
      font-size: 18px;
      color: #f1faee;
    }
  }
}


.Content {
  height: calc(100vh - 156.5px);
  padding-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.HeaderWelcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 24px;
}

.HeaderLogoName{
  margin-top: -18px;
}

.HeaderInput{
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  //background-color: yellow;
  margin-bottom: 15px;
  button{
    min-height: 53px !important;
    border-color: lightslategrey !important;
     //background-color: $color_uni_five !important;
  }
  input{
    font-size: 19px !important;
    font-family: $font_uni_six;
    //background-color: $color_uni_five;
    height: 53px;
    border-color: lightslategrey !important;
    max-width: 100%;
    min-width: 450px;
    border-radius: 2px;

    ::-ms-input-placeholder {
      color: #84a98c;

    }
    ::placeholder {
      color: #84a98c;
      opacity: 1;
    }
  }
}
.HeaderImg{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  div{
    font-size: 17px !important;
  }

}

.HeaderStudioSidebarTwo {
  div {
    @media screen and (min-width: 877px) {
      //margin-bottom: -50px;
    }
  }
}

.HeaderHr {
  width: 100%;
  height: 1px;
  border: none;
  color: #000;
  background-color: #000;
  text-align: right;
  margin: 0 0 0 auto;
}

//-------------------------------------------------------------------------------------------

.Card{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;
  min-width: 250px;
  //height: 250px;
  border: 1px solid lightslategrey;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: $shadow_five;
  cursor: pointer;
}

.CardImage{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom:1px solid lightslategrey;
  background-color: darken(white, 4);

  img{
    width: 100%;
    max-width: 280px;
    max-height: 130px;
    border-radius: 5px;
    box-shadow: $shadow_one;
  }
  svg{
    //width: 100%;
    //max-width: 280px;
    //max-height: 130px;

    //position: absolute;
    //height: 40px;
    //width: 40px;
    //fill:
  }
}

.CardFooter{
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-family: $font_uni_one;
  color: #343a40;
  padding: 5px 5px;
  align-items: center;

  //width: 400px;
}

.CardFooterOne{
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    white-space: nowrap;
    font-size: 13.4px;
    color: lightslategrey;
  }

  div {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    span {
      padding-bottom: 10px;
      color: $color_uni_eight;
      font-size: 15.5px;
      white-space: nowrap;
    }
    svg{
      margin-bottom: -1.5px;
      padding-right: 2px;
    }
  }

}

.CardFooterTwo{
  margin-left: auto;
}

//--------------------------------------------------------------------------------------------------

.Home{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.HomeRecent{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.HomeRecentTitle{
  padding: 2px;
  font-size: 22px;
  font-family: $font_uni_one;
  color: #84a59d;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.HomeRecentCard{
  display: grid;
  grid-gap: 15px;
  height: auto;
  grid-template-columns: repeat(auto-fill, minmax(259px, max-content));
  transition:  .2s;
  transition-duration: .2s;
  transition-delay: .2s;
}

.HomeHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  .HomeDropButton{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

//---------------------------------------------------------------------------------------------------------

.Folder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  gap: 10px;
  border: 1.5px solid lightslategrey;
  border-radius: 2.5px;
  padding: 10px;
  color: #343a40;
  span{
    font-family: $font_uni_one;
  }
  svg{
    height: 25px;
    width: 25px;
  }
}
//-----------------------------------------------------------------------------------------------------------
$ImgBox_color: #d8e2dc;

.ImgBox {
  width: 100%;
  //height: 410px;
  border-radius: 8px;
  box-shadow: $shadow_one;
  background-color: $ImgBox_color;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ImageCrop{
  //margin: 0 auto;
  display: flex;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  overflow: hidden;
}
//
.ImageSlider {
  display: flex;
  justify-content: center;
  input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      border: none;
    }
  }

  input {
    transition: none;
    width: 280px;
    height: 20px;
    padding: 10px;
    background: $ImgBox_color;
    border-radius: 10px;
    @mixin track-style {
      display: flex;
      align-items: center;
      height: 10px;
      border-radius: 10px;
      box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(black, 0.5);
    }

    @mixin thumb-style {
      position: relative;
    @media screen and (min-width: $RenderResizeTwo) {
      top: -50%;
    }

    @media screen and (max-width: $RenderResizeTwo) {
      width: 22px;
    height: 22px;

    }
    width: 20px;
    height: 20px;
    background-color: $ImgBox_color;
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(black, 0.4);
  }
  &::-webkit-slider-runnable-track {
    @include track-style;
  }
  &::-webkit-slider-thumb {
    @include thumb-style;
  }
  &::-moz-range-track {
    @include track-style;
  }
  &::-moz-range-thumb {
    @include thumb-style;
  }
  }
}
//------------------------------
.Editor{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.CkEditor {
  font-family: $font-uni_six;
  width: 100%;
  margin-top: -10px;
  .CkEditorHeader {
    display: flex;
    flex-direction: row;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-size: 20px;
    }
    div:nth-child(2) {
      margin-left: auto;
    }
  }
}


.ArticleImagePreview {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-height: 400px;
  width: 100%;
  background-color: #273a40;
  box-shadow: $shadow_two;
}



.ArticleImagePreviewBox {
  margin-bottom: auto;
  overflow: hidden;
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    label {
      @include ButtonMd(white, 4px, 5, 10);
      box-shadow: $shadow_one;
      input {
        display: none;
      }
      color: black;
      font-size: 17px;
      padding: 10px 25px;
    }
  }

  border: 2px dashed white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img{
    border-radius: 2px;
    width: 100%;
    object-fit: contain;
  }
}

.PreviewBoxDummy {
  width: 900px;
  height: 50px;
  @media screen and (max-width: 967px) {
    width: 800px;
    height: 40px;
  }
  @media screen and (max-width: 877px) {
    width: 700px;
    height: 30px;
  }
  @media screen and (max-width: 767px) {
    width: 600px;
    height: 20px;
  }
  @media screen and (max-width: 667px) {
    width: 500px;
    height: 10px;
  }
}

.ArticleImagePreviewButtons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: auto;
  //margin-top: 10px;
  button {
    @include ButtonMd(red, 1.5px, 5, 10);
    color: white;
    padding: 10px 25px;
  }
}


.ArticleImagesBox{
  display: flex;
  flex-direction: row;
  gap: 20px;
  @media screen and (max-width: 840px) {
    flex-direction: column;
    align-items: center;
  }
}
.EditorBody{
  margin-top: -9px;
}

.EditorHeader {
  width: 100%;
  padding-left: 10px;
   padding-right: 3px;
  height: 52px;
  background-color: $color_uni_two;
  display: flex;
  //margin-top: -1.9px;
  //bottom: 0;
  align-items: center;
  border-radius: 0 0 8px 8px;
  box-shadow: $shadow_two;
}

.EditorHeaderName {
  color: white;
  //font-family: $font_uni_six;
  font-size: 20px;
  span:nth-child(1) {
    font-size: 28px;
  }
  span:nth-child(2) {
    font-size: 11.5px;
    color: #adb5bd;
  }
}

.ArticleHeaderNameColor {
  display: flex;
  flex-direction: row;
  height: 39px;
  padding: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: $shadow_one;

  span {
    font-size: 18.5px;
  }
}

.EditorHeaderButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  img{
    width: 35px;
    border-radius: 50%;
  }
  button:nth-child(1){
    @include ButtonMd($color_uni_eight, 3px, 5, 10);
    color: white;
    font-size: 17px;
    font-family: $font_uni_seven;
    padding: 7px 30px;
  }
    button:nth-child(2){
      @include ButtonMd(transparent, 0,0,0);
    }
}

.ArticleHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;

}


.EditorHeaderNavbar{
  display: flex;
  flex-direction: row;
  gap: 5px;
  //font-family: $font_uni_six;
  align-items: center;
  margin-left: auto;
}

.HomeStudioButton{
  display: flex;
  button{
    @include ButtonMd($color_uni_three, 5px, 5, 10);
    color: white;
    padding: 6px 15px;
    box-shadow: $shadow_two;
    font-size: 15px;
  }
}


.ArticleName {
  display: flex;
  flex-direction: column;
  gap: 5px;
  input {
    @include InputMd(black, 2px);
    font-size: 17px;
    color: #343a40;
    &::placeholder {
        color: $color_uni_six;
        opacity: 1; /* Firefox */
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color_uni_six;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color_uni_six;
      }
    height: 45px;
  }
.ArticleNameLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 20px;
  }
}

.ArticlePublishButton{
  width: 100%;
  //padding-top: 10px;
  //padding-bottom: 10px;
  button{
    @include ButtonMd(#4c5c68 , 2px, 9, 15);
    color: white;
    width: 100%;
    font-size: 19px;
    padding: 10px;
  }
}

.EditorSubmitOverlay{
  display: flex;
  flex-direction: row;
  align-items: center;
  span{
    color: white;
    font-size: 40px;
  }
}


.Cropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $color_uni_eleven;
  padding: 20px;
  border-radius: 5px;
  max-width: 650px;
  div {
    border-radius: 5px;
    img {
      max-height: 500px;
    }
  }
}

.CropperButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  button:nth-child(1) {
    @include ButtonMd($color_uni_two, 4px, 6, 12);
    padding: 10px;

  }
  button:nth-child(2) {
    @include ButtonMd($color_uni_nine, 4px, 6, 12);
    padding: 10px;
  }
  button {
    color: white;
    font-size: 19px;
  }
}


//------------------------------------------------------------------------------------------------------------------------

.CreateArticle{
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: $shadow_four;
  //background: linear-gradient(200deg, #52796f calc(40% - 1px), #002329 60%);
  background-color: $color_uni_one;
  height: 200px;
  width: 450px;
  border-radius: 8px;
  padding: 0 8px 8px 8px;


  .CreateArticleCloseButton{
    margin-left: auto;
    @include ButtonMd(transparent, 2px, 0, 0);
    color: white;
    padding: 0;
    width: 40px;
  }
  .CreateArticleBoxOne {
    width: 50%;
    margin: -40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: $font_uni_six;
    color: white;
  }
  .CreateArticleBoxTwo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

 .CreateArticleCreateButton{
   //margin-top: 25px;
   box-shadow: $shadow_one;
   display: flex;
   justify-content: center;
   font-size: 16px;
   @include ButtonMd($color_uni_three, 6px, 6, 12);
   color: white;
   height: 40px;
   &:disabled,
   &[disabled] {
     background-color: $color_uni_two;
     color: #666666;
     cursor: auto;
   }
 }
}

.CreateFail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  background: darkgoldenrod;
  padding: 5px;
}

.PublishNotice{
  background-color: $color_uni_five;
  padding: 0 10px 0 10px;
  border-radius: 2px;
  box-shadow: $shadow_five;
  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  p{
    font-size: 17px;
    margin-top: -10px;
  }

}

////---------------------------------------------------------------------------------------------------------------------

.EditorPageBox{
  border: 2px solid lightslategrey;
  border-radius: 2px;
  height: 430px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  img{
    display: flex;
    object-fit: contain;
    height: 240px;
    width: 220px;
    margin-bottom: auto;
  }
  .ContextPageBox {
    display: flex;
    //height: 30%;
    overflow: hidden;
    margin-top: auto;
    width: 100%;
    flex-direction: column;

    span:nth-child(1) {
      font-size: 25px;
    }

    span:nth-child(2) {
      display: block;
      font-size: 18px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  .ClearPageBox {
    @include ButtonMd(red, 2px, 5, 10);
    color: white;
    //height: 10%;
    height: 35px;
    width: 190px;
  }

  .CreatePageBox {
    @include ButtonMd(#005f73, 2px, 5, 10);
    color: white;
    //height: 10%;
    height: 35px;
    width: 190px;
    gap: 10px;

  }
}

.EditorPageHeaderOne{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(259px, max-content));
  justify-content: center;
  gap: 14px;
}


.PageBoxSelect{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: $shadow_four;
  width: 420px;
  background-color: #fefae0;
  height: 210px;
}

.PageBoxSelectOption{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.PageBoxSelectSearch{
  button{
    @include ButtonMd($color_uni_four, 2px, 5, 10);
    color: white;
    padding: 8px 20px;
    font-size: 14px;
     gap: 5px;
  }
}

.PageBoxSelectClose {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  button{
    @include ButtonMd(transparent, 0, 0,0)
  }
}

//----------------------------------------------------------------------------------------------------------------------


.ChartBox{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 8px;
  padding: 15px;
  color: black;
  max-width: 570px;
  box-shadow: $shadow_four;
}

.ChartBoxTitle{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  span{
    font-size: 28px;
  }
}

.ChartBoxChart{
  //width: 100%;
}

.ChartBoxNotice {
  display: flex;
  flex-direction: column;
  gap: 10px;
  span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    svg{
      fill: #403d39;
      color: #403d39;
    }
  }

}

.ChartBoxInfo{
  display: flex;
  flex-direction: row;
}


.ChartBoxInfoOne{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 30px ;
  div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    span{
      display: flex;
      align-items: center;
      gap: 10px;
      svg{
      fill: #403d39;
      color: #403d39;
    }
    }
    svg{
      margin-left: auto;
    }
  }
}

.ChartBoxInfoTwo{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: auto;
  margin-right: 10px;
  div{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 255px;
    display: block;
    overflow: hidden;
    color: #242423;
    span {
      color: #403d39;
    }
  }
}


.ChartBoxButton{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  button:nth-child(1){
    @include ButtonMd(white, 1px, 5, 9);
  }
    button:nth-child(2){
      @include ButtonMd($color_uni_four, 1px, 5, 9);
      gap: 5px;
      color: white;
      margin-left: auto;
  }

  button{
    box-shadow: $shadow_one;
    border-radius: 6px !important;
    padding: 8px 25px !important;
    font-size: 15.8px;
  }
}

.ChartBoxClose{
    margin-bottom: -20px;
  button{
    @include  ButtonMd(transparent, 0, 0, 0);
    margin-left: auto;
    padding: 10px;
  }
}